[submodule "src/champ"]
	path = src/champ
	url = git@github.com:jacob-m-nash/champ.git
[submodule "src/champ_teleop"]
	path = src/champ_teleop
	url = https://github.com/chvmp/champ_teleop
	branch = ros2
[submodule "src/robots"]
	path = src/robots
	url = https://github.com/chvmp/robots
